.IndexPage, .DiscussionsUserPage {
    .DiscussionList-discussions--grid {
    margin: -10px;
    padding: 0;
    list-style-type: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
   }
   .DiscussionList-discussions--grid > li::marker {
    display: none;
  }
   .DiscussionList-discussions--grid > li > div {
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* border: 1px solid #e8ecf3; */
    border-radius: 6px;
    -webkit-box-shadow: 0 6px 18px rgba(14, 21, 47, 0.1),
      0 -2px 6px rgba(14, 21, 47, 0.02);
    box-shadow: 0 6px 18px rgba(14, 21, 47, 0.1),
      0 -2px 6px rgba(14, 21, 47, 0.02);
    transition: .3s;
   }
   .DiscussionList-discussions--grid > li > div:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 6px 18px rgba(14, 21, 47, 0.2),
      0 -2px 6px rgba(14, 21, 47, 0.05);
    box-shadow: 0 6px 18px rgba(14, 21, 47, 0.2),
      0 -2px 6px rgba(14, 21, 47, 0.05);
   }
   .DiscussionListItem-author--grid {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
   }
   .DiscussionListItem-author--grid > div {
    width: 100%;
    height: 250px;
    background: none !important;
   }
   .DiscussionListItem-author--grid > span {
    width: 100%;
    height: 250px;
    background: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-autumnal-fall-big-tree-park-background-cartoon-design-backgroundfallbig-treefallen-leavespark-image_53954.jpg) !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat;
    color: transparent;
    border-radius: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
   }
   .DiscussionListItem-author--grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: none !important;
    border-radius: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
   }
   .DiscussionListItem-content--grid > .DiscussionListItem-badges {
    display: none !important;
   }
   .DiscussionListItem-content--grid {
    padding-left: 0px;
    padding-bottom: 15px;
   }
   .DiscussionListItem-title--grid {
    height: 100%;
    font-size: 1.3em !important;
    margin-right: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
   }
   .DiscussionListItem-main--grid {
    padding: 15px;
    display: block;
    position: relative;
    padding-top: 24px;
    overflow: hidden;
   }
   .DiscussionListItem-main--grid > .DiscussionListItem-info > .item-tags {
    margin-left: -.5em;
    position: absolute;
    top: 12px;
    right: auto;
   }
   .DiscussionListItem-count{
      display: none;
   }
   .item-excerpt {
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    margin-right: 50px;
    overflow: hidden;
    font-size: 16px !important;
    color: #777 !important;
   }
   .item-tags > .TagsLabel  > .TagLabel {
    color: #4C6F86 !important;
    background-color: transparent !important;
   }
   .TagLabel.colored .TagLabel-text {
    color: #4C6F86 !important;
    font-size: 13px !important;
   }
   .TagLabel {
       font-size: 100% !important;
   }
   .TagLabel::after{
       content: ',';
   }
   /* .item-tags:hover, .UserPage .DiscussionListItem-info>.item-tags:hover {
    max-width: 150px !important;
    -webkit-mask-image: unset !important;
    overflow-x: hidden !important;
   } */
}

    .item-terminalPost{
        display: none !important;
    }
   .DiscussionList-discussions--grid {
    list-style-type: none;
    padding: 0px;
   }
   .DiscussionListItem-count{
      display: none;
   }
   .DiscussionList-discussions--grid > li::marker {
    display: none;
  }




@media (max-width: 767px) {
    #menu_open_id{
        display: none !important;
    }
 }
@media (min-width: 1324px) {
    .DiscussionPage-stream {
        margin-right: 325px !important;
        // margin-left: -100px;
    }
 }


.IndexPage {
 @media (max-width: 767px) {
    .DiscussionList-discussions--grid > li {
        width: 85%;
        margin: 15px;
    }
    .DiscussionList-discussions--grid {
        justify-content: center;
    }
    .IndexPage-nav, .sideNav {
        width: 60%;
        position: relative !important;
        z-index: auto !important;
        transform: none !important;
    }
 }
 @media (min-width: 767px)and(max-width: 1024px) {
    .DiscussionList-discussions--grid > li {
        width: 30%;
        margin: 10px;
    }
    .DiscussionList-discussions--grid {
        justify-content: space-between;
    }
    .IndexPage-nav, .sideNav {
        zoom: 1.3;
        padding: 70px 25px 25px 25px;
        min-width: 30%;
    }
    .sideNav>ul>li, .sideNav .Dropdown-menu>li {
        display: block !important;
    }
 }
 @media (min-width: 1024px) {
    .DiscussionList-discussions--grid > li {
        width: 22%;
        margin: 10px;
    }
    .DiscussionList-discussions--grid {
        justify-content: space-between;
    }
    .IndexPage-nav, .sideNav {
        min-width: 20%;
        zoom: 1.1;
        padding: 50px 25px 25px 25px;
    }
    .IndexPage > .container {
        width: 900px;
    }
 }
 @media (min-width: 1504px) {
    .IndexPage > .container {
        width: 1100px;
    }
    .IndexPage-nav, .sideNav {
        min-width: 15%;
        zoom: 1.1;
        padding: 50px 25px 25px 25px;
    }
 }
}





.DiscussionsUserPage {
    @media (max-width: 767px) {
        .DiscussionList-discussions--grid > li {
            width: 85%;
            margin: 15px;
        }
        .DiscussionList-discussions--grid {
            justify-content: center;
        }
     }
     @media (min-width: 767px)and(max-width: 1024px) {
        .DiscussionList-discussions--grid > li {
            width: 30%;
            margin: 10px;
        }
        .DiscussionList-discussions--grid {
            justify-content: space-between;
        }
     }
     @media (min-width: 1024px) {
        .DiscussionList-discussions--grid > li {
            width: 22%;
            margin: 10px;
        }
        .DiscussionList-discussions--grid {
            justify-content: space-between;
        }
     }
}



















.IndexPage {
 .openMenu_class {
    transform: translate(0%, 0%) !important;
 }
 .IndexPage-nav, .sideNav {
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 3;
    height: 100%;
    background: #f3f3f3;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: translate(-100%, 0%);
    transition: .3s;
}
.sideNav > ul {
    z-index: 3;
    width: 100%;
}
}
.IndexPage-toolbar-view{
    width: 100%;
}
.item-Text_title_center_block{
    width: 100%;
}
.Text_title_center_block_class{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .12125rem;
    color: #4d4d4d;
    margin-left: 10px;
    margin-top: 20px;
}
.item-jumbotron {
    width: 100% !important;
}
.jumbotron_class{
    border-radius: .5rem;
    background-image: url(https://images.ctfassets.net/i01duvb6kq77/531a9JyYWqF0HMY16h5W5i/9f5f05c909f512c49c8f618bae04340d/homepage_books.jpg);
    background-position: 50%;
    background-size: cover;
    height: 40vh;
    min-height: 275px;
    padding: 0;
    position: relative;
    -webkit-box-shadow: 0 6px 18px rgba(14, 21, 47, 0.2),
      0 -2px 6px rgba(14, 21, 47, 0.05);
    box-shadow: 0 6px 18px rgba(14, 21, 47, 0.2),
      0 -2px 6px rgba(14, 21, 47, 0.05);
}